/* You can add global styles to this file, and also import other style files */
body {
	background-color: #005B96;
}

h1 {
	color: white;
	font-size: 200%;
}

.dropdown {
	text-align: center;
}

.col-sm {
	color: white;
  text-align: center;
  float: center;
}
div#leftmenu {
  width: 20%;
  float: left;
}
div#rightmenu {
  width: 30%;
  margin: 0 auto;
  text-align: right;
  float :right;
}
